@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    user-select: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
html{
    font-size: 10px;
}
.totalCotainer{
    position: fixed;
    left: 0rem;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    background-color: black;
}
#canvas1{
    /* position: absolute; */
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    z-index: 1;
}
.container{
    position: absolute;
    top: 70px;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: 90;
    background-color: black;
    width: auto;
    color: white;
    padding: 0;
    margin: 0;
    user-select: none;

    font-size: 24px;

    background-color: rgba(255, 99, 71, 0.447);
    padding: 18px;
    border-radius: 30px;
    font-family: 'Comic Neue', cursive;
    
}
.NewgameWindow{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    justify-content: center;
    color: rgb(166, 108, 194);
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: 'Comic Neue', cursive;
    user-select: none;
    display: none;
}
.background{
    background-color: white;
    width: 25rem;
    height: 15rem;
    border-radius: 3rem;
    text-align: center;
    user-select: none;

}
h2{
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    user-select: none;

}
p{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    padding-bottom: 1rem;
    user-select: none;

}
#button{
    background-color: rgb(71, 165, 194);
    border: 1px solid rgb(25, 59, 70);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 3rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    user-select: none;
    font-family: Ink Free;


}
.startingWindow{
    /* position: relative; */
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    color: rgb(166, 108, 194);
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    user-select: none;
}
#button_1st{
    background-color: rgb(71, 165, 194);
    border: .1rem solid rgb(25, 59, 70);
    margin-top: .3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 3rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    user-select: none;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}
h3{
    padding-top: 1rem;
    padding-bottom: 0;
    font-size: 2.7rem;
    color:  palevioletred;
    font-family: 'Comic Neue', cursive;
}


/* lavel box */
.lavel-box {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.438);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;

    z-index: 100;

    /* display: none; */


}

.lavel-box p {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    color: white;
}

.inside {
    display: flex;
    align-items: flex-end;

    position: relative;
    left: 0;
    top: 50%;
}

.img {
    width: 40%;
    height: 300px;

    /* background-color: red; */

    /* background-image: url(./images/1.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text {
    width: 60%;
    background-color: tomato;
    border-radius: 40px;

    font-size: 22px;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    color: wheat;
}



/* bar to track the record */
.bar {
    /* width: 100%; */
    height: 10px;
    background-color: tomato;
    position: absolute;
    top: 0;
    left: 0;

    transition: all 1s;

    z-index: 80;

}


/* lavel show in game */
.lavels {
    width: 100%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
    padding: 20px;

    position: absolute;
    top: 35px;
    left: 0;
    font-size: 22px;
    color: white;
    font-family: 'Comic Neue', cursive;
}

audio {
    /* display: none; */
    opacity: 0;
}

/* ---------- Audio Button ----------- */
.play-pause {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    /* background-color: aliceblue; */

    position: absolute;
    bottom: 25px;
    right: 50px;

    z-index: 101;

    font-size: 25px;
    color: white;

    text-align: center;
    line-height: 50px
}


.endMassage {
    width: 300px;
    /* background-color: red; */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 102;

    font-size: 22px;
    color: white;
    text-align: center;

    display: none;
}
